html {
    font-family: nunito;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 297mm;
}

body {
    height: 297mm;
}

h1 {
    text-align: center;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grey {
    color: #888888
}

footer {
  color: #888888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

